<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup</title>
  </head>
  <body>
    <h1>SignUp here</h1>
    <form method="post" action="/user">
      <label for="">Fullname</label>
      <input type="text" required name="name" placeholder="Enter your fullname" />

      <label for="">Email</label>
      <input type="email" required name="email" placeholder="Enter your email " />

      <label for="">Password</label>
      <input
        type="=password"
        required name="password"
        placeholder="Enter your password"
      />

      <button type="submit">Signup</button>
    </form>
  </body>
</html>
